.load-more {
  background-color: #e1e1e1;
  color: #444;
  display: block;
  font-family: sans-serif;
  height: 3em;
  line-height: 3em;
  margin: 10em auto;
  overflow: hidden;
  padding: 0 3em;
  text-align: center;
  text-decoration: none;
  transition: all 0.2s ease, background-color 0.01s ease, color 0.01s ease;
  width: 10em;
  cursor: pointer;
}

.load-more.load-more--loading {
  animation: rotate 1.5s linear infinite;
  animation-delay: .2s;
  background-color: transparent;
  border: .3em solid #e1e1e1;
  border-radius: 1.5em;
  border-top-color: #444;
  box-sizing: border-box;
  height: 3em;
  color: transparent;
  padding: 0;
  pointer-events: none;
  width: 3em;
  cursor: default;
}

@keyframes rotate {
  100% {
    transform: rotate(360deg);
  }
}